* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  color: skyblue;
  margin-top: 20px;
}

div.firstcontent {
  position: relative;
  margin-top: 20px;
  margin-left: 2.25%;

}

div.secondcontent {
  position: relative;
  margin-top: 20px;
  margin-left: 2.25%;

}

div.thirdcontent {
  position: relative;
  margin-top: 20px;
  margin-left: 2.25%;

}

div.firstMenu {
  width: 100%;
  border: none;

}

div.thirdMenu {
  width: 100%;
  border: none;

}

div.secondMenu {
  width: 100%;
  border: none;

}

div {
  background-color: lightyellow;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 30%;
  float: left;

}

div.name{
  background-color: orange;
  float: right;
  text-align: center;
}

p {
  clear: both;
  text-align: justify;
}


@media (min-width: 992px) {

}


@media (min-width: 768px ) and (max-width:  991px) {
  #p1 {
    width: 80%;
  }
  #p2 {
    width: 150px;
    height: 150px;
  }
}


@media (max-width: 767px ) {
  #p1 {
    width: 80%;
  }
  #p2 {
    width: 150px;
    height: 150px;
  }
}