* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
}

.title {
  text-align: center;
  color: skyblue;
  margin-top: 20px;
  font-size: 3.5em;
  font-family: Arial, Helvetica, sans-serif;
}

div.content {
  position: relative;
  margin-top: 20px;
  margin-left: 2.25%;
}


div.firstMenu {
  width: 100%;
  border: none;

}

div.thirdMenu {
  width: 100%;
  border: none;

}

div.secondMenu {
  width: 100%;
  border: none;

}

div {
  background-color: lightyellow;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 30%;
  float: left;

}

div.name{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  width: 30%;
  background-color: orange;
  float: right;
  text-align: center;
}

p {
  clear: both;
  text-align: justify;
}


